.table td {
  text-align: center;
  } 
 .password-icon {
        float: right;
        position: relative;
        margin: -25px 10px 0 0;
        cursor: pointer;
    }
.tblventas td:nth-child(8) {
    background: #3bc0c3;
}
.tblcierre td:nth-child(10) {
    background: #d03f3f;
     text-align: center;
    color: #fff;

}
.tblcierree td:nth-child(6) {
    background: #3bc0c3;
     text-align: center;
    color: #fff;

}
.tblcierret td:nth-child(7) {
    background: #ffc107;
     text-align: center;
    color: #fff;

}
.tblcierret td:nth-child(9) {
    background: #4489e4;
     text-align: center;
    color: #fff;

}
.tblcierrea td:nth-child(8) {
    background: #33b0e0;
     text-align: center;
    color: #fff;

}
.tblstockminimo td:nth-child(7) {
    background: #d03f3f;
     text-align: center;
    color: #fff;

}


            .quehaydenuevo-content img{
             width: 50%;
             height: auto;
}
   .register-body{
    background: -webkit-linear-gradient(left, #3931af, #00c6ff);
  }
   .register{
    background: -webkit-linear-gradient(left, #3931af, #00c6ff);
    margin-top: 15%;
    padding: 3%;   
    border-radius: 10px ;
}
.register-left{
    text-align: center;
    color: #fff;
    margin-top: 4%;
}
.register-left input{
    border: none;
    border-radius: 1.5rem;
    padding: 2%;
    width: 60%;
    background: #f8f9fa;
    font-weight: bold;
    color: #383d41;
    margin-top: 30%;
    margin-bottom: 3%;
    cursor: pointer;
}
.register-right{
    background: #f8f9fa;
    border-radius: 10px ;
    /*border-bottom-left-radius: 10% 50%;*/
}
.register-left img{
    margin-top: 15%;
    margin-bottom: 5%;
    width: 25%;
    -webkit-animation: mover 2s infinite  alternate;
    animation: mover 1s infinite  alternate;
}
@-webkit-keyframes mover {
    0% { transform: translateY(0); }
    100% { transform: translateY(-20px); }
}
@keyframes mover {
    0% { transform: translateY(0); }
    100% { transform: translateY(-20px); }
}
.register-left p{
    font-weight: lighter;
    padding: 12%;
    margin-top: -9%;
}
.register .register-form{
    padding: 10%;
    margin-top: 10%;
}
.btnRegister{
    float: right;
    margin-top: 10%;
    border: none;
    border-radius: 1.5rem;
    padding: 3%;
    background: #0062cc;
    color: #fff;
    font-weight: 600;
    width: 100%;
    cursor: pointer;
}
.register .nav-tabs{
    margin-top: 3%;
    border: none;
    background: #0062cc;
    border-radius: 1.5rem;
    width: 28%;
    float: right;
}
.register .nav-tabs .nav-link{
    padding: 2%;
    height: 34px;
    font-weight: 600;
    color: #fff;
    border-top-right-radius: 1.5rem;
    border-bottom-right-radius: 1.5rem;
}
.register .nav-tabs .nav-link:hover{
    border: none;
}
.register .nav-tabs .nav-link.active{
    width: 100px;
    color: #0062cc;
    border: 2px solid #0062cc;
    border-top-left-radius: 1.5rem;
    border-bottom-left-radius: 1.5rem;
}
.register-heading{
    text-align: center;
    margin-top: 8%;
    margin-bottom: -15%;
    color: #495057;
}

.container-t {
  position: relative;
  max-width: 800px; /* Maximum width */
  margin: 0 auto; /* Center it */
}

.container-t .content-t {
  position: absolute; /* Position the background text */
  bottom: 0; /* At the bottom. Use top:0 to append it to the top */
  background: rgb(0, 0, 0); /* Fallback color */
  background: rgba(0, 0, 0, 0.5); /* Black background with 0.5 opacity */
  color: #f1f1f1; /* Grey text */
  width: 100%; /* Full width */
  padding: 20px; /* Some padding */
}
fieldset {
    border:1px solid #ddd;
    border-radius: 4px;
    padding: 5px 10px;
  }
  
  legend {
    background-color: #fff;
    border-radius: 4px;
    color: #666f7b;
    font-size: 16px;
    font-weight: bold;
    padding: 3px 5px 3px 3px;
    width: auto;
    margin-bottom: 0;
  }
  .pm-button{
    padding: 2px 4px;
    margin: 0 2px;
  
  }
  
  @keyframes spinner-border {
    to {
      transform: rotate(360deg);
    }
  }
  .spinner-border {
    position: relative;
    display: inline-block;
    width: 2rem;
    height: 2rem;
    overflow: hidden;
    text-indent: -999em;
    vertical-align: text-bottom;
    border: .25em solid;
    border-color: currentColor transparent currentColor currentColor;
    border-radius: 50%;
    animation-name: spinner-border;
    animation-duration: .75s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
  }
  
  .spinner-border-reverse {
    border-color: transparent currentColor transparent transparent;
  }
  .spinner-border-reverse::after {
    position: absolute;
    top: -.25em;
    right: -.25em;
    bottom: -.25em;
    left: -.25em;
    display: inline-block;
    content: "";
    border: 0.25em solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;
  }
  
  .spinner-border-sm {
    width: 1rem;
    height: 1rem;
    border-width: .2em;
  }
  .spinner-border-sm.spinner-border-reverse::after {
    border-width: .2em;
  }
  
  @keyframes spinner-grow {
    0% {
      opacity: 0;
      transform: scale(0);
    }
    50% {
      opacity: 1;
    }
    100% {
      opacity: 0;
      transform: scale(1);
    }
  }
  .spinner-grow {
    position: relative;
    display: inline-block;
    width: 1rem;
    height: 1rem;
    overflow: hidden;
    text-indent: -999em;
    vertical-align: text-bottom;
    background-color: currentColor;
    border-radius: 50%;
    animation-name: spinner-grow;
    animation-duration: .75s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
  }
  
  .spinner-grow-sm {
    width: 1rem;
    height: 1rem;
  }
  
  
  .icon-verde{
    text-align: center;
  }
  
  .icon-verde:before{
    color:#09b109;
    font-size: 1.5em;
  }